body {
    margin-top: 20px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 20px;
    background-color: black;
    overflow: scroll;
}
button {
    width: 23px;
    height: 23px;
    background-color: ;
}
i {
    margin: auto;
    height: auto;
    width: auto;
}

h4 {
     text-decoration: underline;
}
/* Charts */

.fullLength {
    width: 1200px;
    height: 300px;
    margin-right: 50px;
    margin-left: 50px;
    border: solid;
    border-color: black;
    border-width: 3px;
    margin: 5px;
    background-color: #ffffff;
}
.fullLength-noBorder {
    width: 1200px;
    height: 300px;
    margin-bottom: 5px;
}
.fullLength-bar {
    background-color: #4dd2ff;
    width: auto;
    height: 30px;
}
.halfLength-bar {
    background-color: #4dd2ff;
    width: auto;
    height: 30px;
}
.halfLength {
    width: 50%;
    height: 100%;
    border: solid;
    border-color: black;
    border-width: 2px;
    float: left;
}
/* Progress Bar  */

.background: {
    fill: #DFEAFD;
}
.foreground {
    fill: black;
}
.foregroundRed {
    fill: red;
}
.progText {
    font-family: 'Georgia' sans-serif;
    font-size: 60px;
    fill: black;
}
.progTextRed {
    font-family: 'Georgia' sans-serif;
    font-size: 60px;
    fill: red;
}
.progText2 {
    font-family: 'Georgia' sans-serif;
    font-size: 20px;
    fill: black;
}
/* Area Chart & scatter plot */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdge;
    padding: 5px;
}
.axis text {
    font-family: sans-serif;
    font-size: 10px;
}
h1 {
    font-family: sans-serif;
    font-weight: bold;
}
.area {
    fill: steelblue;
}
.graphs {
    border-style: solid;
}
.tick {
    stroke-dasharray: 1, 2;
}
/*---------- Nav bar ------------*/

a {
    text-decoration: none;
    color: #00a5cc;
}
li {
    list-style-type: none;
    list-style: none;
}
nav {
    width: 80px;
    text-align: center;
    background-color: #264d00;
}
nav a {
    width: auto;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid black;
    color: black;
}
nav a:hover {
    background: #6A93B0;
    color: BLACK;
}
nav li:last-child a {
    border-bottom: none;
}

.menu {
    top: 0px;
    margin-top: 40px;
    width: 99px;
    /*height:100%;*/
    
    position: fixed;
    background: #4dd2ff;
    left: -240px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.menu-icon {
    top: 0;
    left: 0;
    position: fixed;
    padding: 10px 21px;
    background: #4dd2ff;
    color: black;
    cursor: pointer;
    float: left;
    /*margin-top:4px;*/
    /*border-radius:5px;*/
}
#menuToggle {
    display: none;
}
#menuToggle:checked ~ .menu {
    top: 0;
    position: fixed;
    left: -45px;
}

/*--------- date picker -------------*/

.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
.partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
.datepicker {
    width: 1200;
    height: 200px;
    margin-right: 50px;
    padding: 10px;
    position:absolute
    bottom:30px;
    /*margin-left: 50px;*/
    background-color: #4dd2ff;
}

.dateButton {
    background-color: #ffffff; /* Green */
    border: 0.5px;
    color: black;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    font-size: 10px;
    box-shadow: 2px 2px 5px #888888;
}

.clearButton {
    background-color: red; /* Green */
    border: 0.5px;
    color: #ffffff;
    padding: 20px 38px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 5px #888888;
}

.subButton {
    background-color: blue; /* Green */
    border: 0.5px;
    color: #ffffff;
    padding: 20px 52px;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    box-shadow: 2px 2px 5px #888888;
}

.calBtn {
    width: 40px;
    height: 35px;
    border-radius: 5px;
    color: black;
}

.popUp{
    background-color: #4dd2ff;
}


